@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueRegular.woff2') format('woff2'),
        url('BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Light.woff2') format('woff2'),
        url('Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

